---
layout: default
---
  <section class="panel grey darken-4">
    <div class="container grey lighten-3" style="height: 64px">
      <div class="row">

      </div>
    </div>
  </section>

  <section class="panel grey darken-4">
    <div class="container grey lighten-3" style="padding-bottom: 30px">
      <div class="container">
        <div class="row">
          <div class="sm-font blue-grey-text"><span style="display: inline-block;">{{ page.title }}</span></div>
        </div>
        <div class="row" style="margin-bottom: 0">
          <div>
              {{ content }}
          </div>
        </div>
      </div>
      <div>
        <a href="javascript:window.open('http://d-share.github.io/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550');"
        style="padding: 3px 4px 2px; background: #fafafa; border: 1px solid #ddd; font-size: 13px; color: #222; text-decoration: none; vertical-align: top;">
	      <img src="http://i46.servimg.com/u/f46/17/46/54/29/diaspo10.png" alt="Compartilhar no Diáspora" style="border: 0px solid;" /> Diaspora*
      </a>
      </div>
      <div class="right xxs-font">
          <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/master/{{ page.path }}">aprimore esta página &nbsp;</a>
      </div>
      
      
      
    </div>
  </section>

